/* =============================================================================
 *
 * Waybar configuration
 *
 * Configuration reference: https://github.com/Alexays/Waybar/wiki/Configuration
 *
 * =========================================================================== */

/* -----------------------------------------------------------------------------
 * Base styles
 * -------------------------------------------------------------------------- */

/* Reset all styles */
* {
    border-radius: 0;
    min-height: 0;
    margin: 0;
    padding: 0;
}

/* The whole bar */
#waybar {
    background: #24273a;
    border: 0px solid;
    border-color: #f93357;
    color: white;
    font-family: JetBrains Mono;
    font-size: 18px;
}

/* Each module */
#battery,
#clock,
#cpu,
#custom-keyboard-layout,
#memory,
#mode,
#network,
#pulseaudio,
#temperature,
#custom-notifaction,
#tray {
    padding-left: 10px;
    padding-right: 10px;
}

  
/* -----------------------------------------------------------------------------
 * Module styles
 * -------------------------------------------------------------------------- */

#battery {
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#battery.warning {
}

#battery.critical {
color: #f93357; /* battery */
}

#battery.warning.discharging {
}

#battery.critical.discharging {
}

#clock {
    font-weight: normal;
}

#cpu {
  /* No styles */
}

#cpu.warning {
    color: orange;
}

#cpu.critical {
    color: red;
}

#memory {
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#memory.warning {
}

#memory.critical {
    color: #FF7A93;
}

#mode {
    background: #64727D;
    border-top: 2px solid white;
    /* To compensate for the top border and still have vertical centering */
    padding-bottom: 2px;
}

#network {
    /* No styles */
}

#network.disconnected {
    color: White;
}

#pulseaudio {
    /* No styles */
}

#pulseaudio.muted {
    /* No styles */
}

#custom-spotify {
    color: rgb(102, 220, 105);
}

#temperature {
    /* No styles */
}

#temperature.critical {
    color: red;
}

#tray {
    /* No styles */
}

#window {
    font-weight: bold;
}

#custom-window {
    font-weight: bold;
}

#custom-waybar-mpris {
    font-weight: bold;
}

#workspaces button {
    border-top: 2px;
    /* To compensate for the top border and still have vertical centering */
    padding-bottom: 2px;
    padding-left: 10px;
    padding-right: 10px;
    color: #888888;
}

#workspaces button.active {
    background-color: #f93357;
    color: white;
}

#workspaces button.focused {
    border-top: 2px #285577;
    color: white;
    background-color: #f93357;
}

#workspaces button.urgent {
    border-color: #c9545d;
    color: #c9545d;
}

#custom-notification {
    color: #888888;
}
